/test/cypress/output/screenshots
!test/cypress/output/screenshots/.gitkeep
/test/cypress/output/videos
!test/cypress/output/videos/.gitkeep
!cypress.config.js
/node_modules
/test/cypress/support/custom_commands/**
/test/cypress/e2e/mi_install/**
/test/cypress/e2e/admin/**
/test/cypress/e2e/api/**
/test/cypress/e2e/plugins/**
/test/cypress/e2e/site/**
/test/cypress/fixtures/**
!/.gitignore
/releases/**
/src/**
/joomla_extensions
!/joomla_extensions/extensions-config.json.dist
/extension2joomla/config.json
/extension2joomla/extensions-config.json
.gitignore_ortfeap
.env