{
    "components": [],
    "plugins": {
        "system": [],
        "webservices": []
    },
    "modules": {
        "site": [],
        "admin": []
    },
    "templates": {
        "site": [],
        "admin": []
    },
    "libraries": [""],
    "files": [],
    "package": {
        "name": "",
        "packagename": "",
        "creationDate": "",
        "label": "",
        "description": "",
        "version": "",
        "author": "",
        "dlid": {
            "prefix": "",
            "suffix": ""
        },
        "updateServers": [
            {
                "url":"",
                "extra_query":"",
                "name":""
            }
        ]
    }
}
