{
    "components": ["foo"],
    "plugins": {
        "extension": [""],
        "system": [],
        "user": [""]
    },
    "modules": {
        "site": [""],
        "admin": []
    },
    "templates": [""],
    "libraries": [""],
    "files": [],
    "package": {
        "name": "",
        "packagename": "",
        "creationDate": "",
        "label": "",
        "description": "",
        "version": "",
        "author": ""
    }
}
